.app-container {
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.spot-prices-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: 20vw;
    justify-content: space-between;
    .item {
        padding: 1rem;
        border: 1px solid var(--text-color);
        border-radius: 10px;
        height: fit-content;
        min-width: 10rem;
        text-align: center;
    }
}

.time-series {
    width: 100%;
}

@media screen and (max-width: 2048px) {
    .spot-prices-container {
        width: 30vw;
    }
}