<ng-container>
    <app-actions-bar></app-actions-bar>
    <div class="inventory-table-wrapper">
        <div class="inventory-table">
            <table *ngIf="positions$ | async as positions">
                <thead>
                    <tr>
                        <th>Date Acquired</th>
                        <th>Metal</th>
                        <th>Quantity (oz)</th>
                        <th>Cost Basis</th>
                        <th>Market Value</th>
                        <th>Unrealized P/L ($)</th>
                        <th>Unrealized P/L (%)</th>
                    </tr>
                </thead>
                <tbody *ngIf="gainLossData$ | async as gainLossData">
                    <tr *ngFor="let position of positions">
                        <td>{{ position.acquired | date }}</td>
                        <td>{{ position.type === 0 ? 'Gold' : 'Silver' }}</td>
                        <td>{{ position.quantity | number: '1.0-2' }}</td>
                        <td>{{ position.cost_basis | currency: 'USD' }}</td>
                        <td>{{ gainLossData[position.id].marketValue | currency: 'USD' }}</td>
                        <td 
                            *ngIf="gainLossData[position.id].gainLossValue >= 0"
                            class="positive"
                        >
                            ${{ gainLossData[position.id].gainLossValue | number: '1.2-2' }}
                        </td>
                        <td 
                            *ngIf="gainLossData[position.id].gainLossValue < 0"
                            class="negative"
                        >
                            $({{ (gainLossData[position.id].gainLossValue * -1) | number: '1.2-2' }})
                        </td>
                        <td 
                            *ngIf="gainLossData[position.id].gainLossPercent as value"
                            [ngClass]="{
                                'positive': value >= 0,
                                'negative': value < 0
                            }"
                        >
                            {{ value | number: '1.0-2' }}%
                        </td>
                    </tr>
                </tbody>
                <tfoot *ngIf="totals$ | async as totals">
                    <tr class="totals-row">
                        <td colspan="3">Totals</td>
                        <td class="numeric">
                            {{ totals.costBasis | currency: 'USD' }}
                        <td class="numeric">
                            {{ totals.marketValue | currency: 'USD' }}
                        </td>
                        <td 
                            class="numeric"
                            [ngClass]="{ 
                                'positive': totals.gainLossValue >= 0,
                                'negative': totals.gainLossValue < 0
                            }">
                            <ng-container *ngIf="totals.gainLossValue >= 0; else negTotal">${{ totals.gainLossValue | number: '1.2-2' }}</ng-container>
                            <ng-template #negTotal>$({{ (totals.gainLossValue * -1) | number: '1.2-2' }})</ng-template>
                        </td>
                        <td
                            class="numeric"
                            [ngClass]="{ 
                                'positive': totals.gainLossValue >= 0,
                                'negative': totals.gainLossValue < 0 
                            }"
                        >
                            {{ totals.gainLossPercent | number: '1.0-2' }}%
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="mobile">
        <app-mobile-inventory></app-mobile-inventory>
    </div>
</ng-container>
