* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --background-color: #2f313d;
    --primary-color: #5865f2;
    --text-color: #ccc;
    --secondary-text-color: #b9bbbe;
}