* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --background-color: #2f313d;
    --primary-color: #5865f2;
    --text-color: #ccc;
    --text-color-card: #0f1724;
    --secondary-text-color: #b9bbbe;
    --positive-green: rgb(0, 100, 0);
    --negative-red: rgb(185, 0, 0);
}