<ng-container>
    <div class="actions-bar">
        <div>
            <i appIcon="add" (click)="openAddPositionModal()"></i>
            <i appIcon="minus" (click)="openLiquidationActionModal()"></i>
        </div>
    </div>
    <app-modal #addPositionModal>
        <h2>Add New Position</h2>
        <form class="add-position-form" [formGroup]="addPositionForm" (ngSubmit)="submitNewPosition()">
            <div class="element-group">
                <label for="type">Metal Type:</label>
                <select formControlName="type" required>
                    <option value="0">Gold</option>
                    <option value="1">Silver</option>
                </select>
            </div>
            <div class="element-group">
                <label for="quantity">Quantity (oz):</label>
                <input type="number" formControlName="quantity" required>
            </div>
            <div class="element-group">
                <label for="cost_basis">Cost Basis:</label>
                <input type="number" formControlName="cost_basis" required>
            </div>
            <div class="element-group">
                <label for="acquired">Date Acquired:</label>
                <input type="date" formControlName="acquired" required>
            </div>
            <button 
                type="submit" 
                [ngStyle]="{
                    'cursor': addPositionForm.valid ? 'pointer' : 'not-allowed'
                }" 
                [disabled]="addPositionForm.invalid"
            >
                Add Position
            </button>
        </form>
    </app-modal>
    <app-modal #liquidationActionModal>
        <form class="liquidation-action-form" [formGroup]="liquidationActionForm" (ngSubmit)="submitLiquidationAction()">
            <div class="element-group">
                <label for="position_id">Position:</label>
                <select formControlName="position_id" required>
                    <option selected value="" disabled>Select a position</option>
                    <option *ngFor="let position of positions$ | async" [value]="position.id">
                        {{ position.type === 0 ? 'Gold' : 'Silver' }} - {{ position.quantity }} oz {{ position.acquired | date:'shortDate' }}
                    </option>
                </select>
            </div>
            <div class="element-group">
                <label for="quantity_sold">Quantity Sold (oz):</label>
                <input type="number" formControlName="quantity_sold" required>
            </div>
            <div class="element-group">
                <label for="proceeds">Proceeds:</label>
                <input type="number" formControlName="proceeds" required>
            </div>
            <div class="element-group">
                <label for="sale_date">Sale Date:</label>
                <input type="date" formControlName="sale_date" required>
            </div>
            <button 
                type="submit" 
                [ngStyle]="{
                    'cursor': liquidationActionForm.valid ? 'pointer' : 'not-allowed'
                }" 
                [disabled]="liquidationActionForm.invalid"
            >
                Record Sale
            </button>
        </form>
    </app-modal>
</ng-container>