.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .portfolio-value {
        margin: 1rem 0;
        width: 50%;

        h1 {
            font-size: 48px;
        }

        .net-change {
            display: flex;
            flex-direction: row;
            h3 {
                margin: 0.25rem;
            }
        }

        .positive {
            color: rgb(0, 185, 0);
        }

        .negative {
            color: rgb(225, 0, 0);
        }
    }

    .chart {
        width: 50%;
        height: 50vh;
    }
}